html,
body {
    font-family: 'NotoKufiArabic-Regular';
    width: 100% !important;
    margin: 0 auto !important;
    background-color: white;
    ;
    overflow-x: hidden;
}

@font-face {
    font-family: 'NotoKufiArabic-Regular';
    src: url('../font/ArbFONTS-NotoKufiArabic-Regular.ttf');
    src: local('☺'), url('../font/ArbFONTS-NotoKufiArabic-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ArbFONTS-NotoKufiArabic-Bold';
    src: url('../font/ArbFONTS-NotoKufiArabic-Bold.ttf');
    src: local('☺'), url('../font/ArbFONTS-NotoKufiArabic-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arial-rounded-mt';
    src: url('../font/arial-rounded-mt.ttf');
    src: local('☺'), url('../font/arial-rounded-mt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*Scroll*/
::-webkit-scrollbar {
    width: 10px;
    border-radius: 15px !important;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 15px !important;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #bc264f;
    border-radius: 15px !important;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #173460;
}

/*End Scroll*/
/*Header  ads */
section.header-ads {
    padding: 8px;
    margin-top: 3rem;
    background-color: white;
}

header.upper-top {
    position: fixed;
    z-index: 999999999;
    width: 100%;
}

.imgAd img {
    width: 100%;
    position: relative;
    height: 5rem;
    object-fit: contain;
}

.col-lg-6.imgAd.text-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoSection img {
    text-align: right;
    width: 6rem;
    HEIGHT: 67PX;
    /* top: 9px; */
    object-fit: contain;
    position: relative;
}

.logoSection.text-right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.badge-info {
    color: #fff;
    background-color: #bc264f;
}

/*Slider*/
.listslide {
    height: 32rem;
    width: 100%;
    position: absolute;
    display: flex;
    color: white;
    background-color: #00000066;
    z-index: 99999999999;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.listslide h1 {
    color: white;
    margin-bottom: 2rem;
    font-size: 30px;
}

.listslide a {
    font-size: 24px;
    padding: 10px 15px;
    font-weight: 300;
    border-radius: 10px;
    margin-left: 20px;
}

img.d-block.w-100 {
    height: 32rem;
    object-fit: cover;
}

section.Servies-avo {
    padding-top: 2rem;
    background-color: #f5f5f5;
}

main {
    background-color: #f5f5f5;
}

.card-Featuers-avo {
    background-color: white;
    padding: 15px;
    margin-bottom: 2rem;
    border-radius: 10px;
}

.card-Featuers-avo h1 {
    text-align: right;
    font-size: 17px;
    font-family: 'ArbFONTS-NotoKufiArabic-Bold';
    color: #BC264F;
    padding-inline-end: 0;
    padding-block-start: 0;
    padding-inline-start: 0;
    right: 17px;
}

.card-Featuers-avo img.col-lg-4.col-md-6.col {
    height: 1.7rem;
    float: left;
    display: flex;
    position: relative;
    right: 1rem;
    margin-bottom: 1rem;
}

header a.dropdown-item {
    text-align: right;
}

.card-Featuers-avo p {
    text-align: justify;
    color: #3d3d3d;
    font-size: 13px;
}

.Titel:hover {
    color: #BC264F;
}

.Titel {
    text-decoration: unset !important;
    text-align: center;
    width: 100%;
    display: flex;
    font-family: 'ArbFONTS-NotoKufiArabic-Bold';

    justify-content: flex-start;
    align-items: flex-end;
    /* border-radius: 4px; */
    padding: 11px;
    background-color: white;
    font-size: 21px;
    padding-right: 21px;
    border-radius: 7px;
    color: #292D33;
    /* font-weight: bold; */
    margin-bottom: 2rem;
}

.card-Servies-avo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px;
    margin-bottom: 2rem;
    text-decoration: unset !important;
    border-radius: 10px;
    background-color: white;
    flex-direction: column;
}

.card-Servies-avo:hover {
    box-shadow: 0px 0px 2px 0px #173460;
}

.card-blog img {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    height: 12rem;
    object-fit: fill;
}

.card-blog h1 {
    text-align: right;
    font-size: 18px;
    padding-right: 11px;
    padding-left: 11px;
    line-height: 1.5;
    color: #292D33;
    font-family: 'ArbFONTS-NotoKufiArabic-Bold';
    padding-top: 0.5rem;
}

.card-blog a {
    padding-left: 26px;
    color: #292D33;
    font-family: 'ArbFONTS-NotoKufiArabic-Bold';
    font-size: 13px;
    text-decoration: unset;
    text-align: left;
}

.card-blog span {
    text-align: right;
    font-size: 15px;
    padding-right: 24px;
    padding-left: 24px;
    color: #A5A6AD;
}

.card-blog p {
    text-align: right;
    font-size: 14px;
    color: #A5A6AD;
    font-weight: 400;
    padding-right: 11px;
    padding-left: 11px;
    line-height: 1.5;
}

.card-Servies-avo img {
    width: 60px;
    height: 60px;
}

.card-blog {
    box-shadow: 0px 0px 5px 0px #ccc;
    border-radius: 15px;
    padding-bottom: 1rem;
    background-color: white;
    margin-bottom: 2rem;
}

.card-Servies-avo h1 {
    font-size: 18px;
    font-family: 'ArbFONTS-NotoKufiArabic-Bold';

    padding-top: 19px;
    color: #292D33;
}

.how-to ul li {
    background-color: white;
    counter-increment: li;
    padding: 6px;
    border-radius: 9px;
}

.how-to ul li::before {
    content: counter(li);
    text-align: center;
    background-color: #bc264f;
    border-radius: 50%;
    display: flex;
    font-family: 'arial-rounded-mt';

    font-weight: bold;
    color: #ffffff;
    float: right;
    font-size: 19px;
    justify-content: center;
    align-items: center;
    height: 30px;
    display: inline-block;
    width: 30px;
    margin-left: 5px;
}

.ads {
    height: 16rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;
}

.ads H1 {
    font-size: 26px;
    text-align: center;
    color: #FFFFFF;
    width: 50%;
    margin-bottom: 1rem;
    font-family: 'ArbFONTS-NotoKufiArabic-Bold';
    text-transform: capitalize;
    opacity: 1;
}

.ads a {
    width: 211px;
    margin: 0 auto;
    border-radius: 20px;
    left: 25%;
    background-color: #FFFFFF !important;
    position: relative;
    color: #000;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'ArbFONTS-NotoKufiArabic-Bold';
    border-color: transparent !important;
}

.detiel {
    position: absolute;
    left: 0;
    padding-left: 6rem;
    padding-top: 0.8rem;
    color: #B4B4B4;
    font-size: 17px;
    text-decoration: unset;
}

.detiel:hover {
    text-decoration: unset;
    color: #009EE1;
}

.ads P {
    width: 50%;
    font-size: 18px;
    text-align: center;
    margin-bottom: 0.8rem;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
}

.how-to ul h6 {
    display: flex;
    padding-top: 8px;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 5px !important;
    font-size: 19px;
    color: #BC264F;
    font-family: 'ArbFONTS-NotoKufiArabic-Bold';
    text-align: right;
}

.how-to p {
    padding-top: 1px;
    /* max-width: 23rem; */
    padding-right: 36px !important;
    color: #3D3D3D;
    font-size: 14px;
    padding-right: 33px !;
}

.how-to ul {
    padding-inline-start: 0px;
    list-style: none;
    counter-reset: li;
}

.how-to li {
    margin-bottom: 1rem;
    font-size: 18px;
    color: #606060;
    text-align: right;
    list-style-type: none;
}

.how-to img {
    width: 100%;
    border-radius: 10px;
    height: 25rem;
}

a.over-lay-proti {
    position: absolute;
    /* width: 100%; */
    color: white;
    text-decoration: unset !important;
    background-color: #00000080;
    width: 23rem;
    display: flex;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    height: 13rem;
    /* right: 0; */
    /* bottom: 0; */
    /* left: 0; */
    opacity: 0;
    /* top: 0; */
    border-radius: 15px;
}

a.over-lay-proti:hover {
    opacity: 1;
}
/*
a.over-lay-woks:hover {
    opacity: 1;
    
}
*/
.card-proti img {
    width: 23rem;
    height: 13rem;
    border-radius: 15px;
}

.card-proti {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.how-to {
    padding-bottom: 2rem;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1300px !important;
    }
}

.responsive {
    display: none;
}

.ads-det {
    width: 100%;
    object-fit: contain;
    padding-top: 5px;
    padding-bottom: 22px;
    border-radius: 0;
}

.ads-s {
    margin-top: 16px !important;
    margin: 0 auto !important;
    width: 100% !important;
    object-fit: contain !important;
    height: 25rem !important;
}

footer {
    background: transparent linear-gradient(270deg, #BC264F 0%, #6E2347 100%) 0% 0% no-repeat padding-box;}
.soical-footer i {
    background-color: white;
    width: 30px;
    height: 30px;
    display: flex;
    margin-left: 10px;
    color: #7c2449;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

footer h5 {
    direction: ltr;
    font-size: 15px;
    color: #fff;
    text-align: right;
}

.soical-footer {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

footer .logo {
    width: 11rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 15px;
}

footer .col-lg-6 {
    padding-top: 17px;
}

.full-footer.row.col-lg-12 {
    border-top: 1px solid #ffffff1a;}

footer p {
    font-size: 13px;
    text-align: center;
    color: white;
}

footer ul {
    padding-inline-start: 0;
    list-style-type: none;
}

footer h1 {
    text-align: center;
    font-size: 20px;
    font-family: 'ArbFONTS-NotoKufiArabic-Bold';
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}

footer ul li {
    color: white;
    text-align: center;
}

footer ul li a {
    color: white;
    text-decoration: unset;
    line-height: 2.5;
    font-size: 17px;
}

.contactte i {
    font-size: 17px;
    margin-left: 9px;
}

.contactte {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.contactte a {
    line-height: 2.5;
    color: white;
    width: 12rem;
    text-decoration: unset;
    text-align: right;
}

footer ul li a:hover {
    color: white;
    text-decoration: unset;
}

footer .download img {
    margin-bottom: 1rem;
    width: 132px;
}

.a-parent {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid #bc264f;
        padding-bottom: 10px;
    margin-top: 3rem;
}

.a-parent img {
    width: 46px;
    margin-left: 14px;
    object-fit: contain;
    height: 33px;
}

.contact .row {
    margin-top: 3rem;
    margin-bottom: 3rem;

}

.contact input#inlineFormInputGroup {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-right: 0 !important;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    background-color: #F8F8F8;
    border-color: #F8F8F8;

}

.input-group-text {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    border-left: 0;
    background-color: #F8F8F8;
    border-color: #F8F8F8;
}

.contact i {
    color: #C9D3DC;
}

::placeholder {
    font-size: 13px !important;
    color: #C9D3DC !important;

}

label.col-lg-12 {
    text-align: right;
    color: #000000;
    padding-right: 7px;
}

.input-group.mb-2 {
    margin-bottom: 1rem !important;
}

textarea#exampleFormControlTextarea1 {
    background-color: #f8f8f8;
    border: 0;
    border-radius: 10px;
}

.contact h1 {
    text-align: right;
    font-weight: bold;
    font-size: 28px;
    padding-right: 20px;
    margin-top: 3rem;
    color: #173460;
}

.ads-s-contact {
    padding-top: 37px;
    margin: 0 auto !important;
    width: 800px;
}

.about-as p {
    font-size: 20px;
    color: #000000;
    text-align: center;
}

.about-as h1 {
    text-align: right;
    font-size: 28px;
    font-weight: bold;
    color: #173460;
    margin-top: 2rem;
}

.about-as .col-lg-6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-as {
    margin-bottom: 3rem;
}

.card-team h1 {
    font-size: 21px !important;
    color: #173460;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: 500;
}

.card-team h2 {
    font-size: 14px;
    color: #218FC2;
    display: flex;
    justify-content: center;
    padding-right: 30px;
    padding-top: 6px;
    justify-content: flex-start;
    align-items: flex-start;

}

.card-team img {
    max-width: 100%;
    height: auto;
    display: flex;
    margin-right: 15px;
    justify-content: flex-start;
    align-items: flex-start;

}

.soical-team {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
    width: 22rem !important;
    margin-right: 11px;
    padding-top: 8px;
    border-top: 1px solid #F5F5F8;
    justify-content: center;
}

.soical-team i {
    color: #A5A6AD;
    display: flex;
    margin-left: 14px;

    margin-right: 21px;
    font-size: 20px;
}

.soical-team a {
    text-decoration: unset !important;
}

.data-team {
    display: flex;
    flex-direction: column;
    text-align: right;
    padding-right: 16px;
    font-size: 14px;
    color: #A5A6AD;
}

.card-team {
    margin-top: 2rem;
    width: 22rem;
    box-shadow: 0px 0px 3px #ccc;
    border-radius: 7px;
    padding-inline-start: 5px;

    display: flex;
}

.card-team .row {
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
    margin-bottom: 0.5rem;

}

section.edit-team {
    margin-bottom: 4rem;
}

.card-team h2 i {
    padding-left: 5px;
    color: #218FC2 !important;
}

section.edit-team input#inlineFormInputGroup {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-right: 0 !important;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    background-color: #F8F8F8;
    border-color: #F8F8F8;

}

section.edit-team .input-group-text {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    border-left: 0;
    background-color: #F8F8F8;
    border-color: #F8F8F8;
}

section.edit-team i {
    color: #C9D3DC;
}

section.edit-team h4 {
    text-align: right;
    font-weight: bold;
    font-size: 23px;
    color: #173460;
    margin-top: 4rem;
}

section.edit-team .input-group.mb-2 {
    width: 31rem;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    margin: 0 auto;
    margin-top: 4rem;
}

ul.pagination {
    justify-content: center;
    margin-top: 3rem;
}

.page-item:first-child .page-link {

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.page-item:last-child .page-link {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.page-link {
    color: #173460;
}

.artical-detials img {
    width: 100%;
    height: 26rem;
    object-fit: cover;
}

.artical-detials {
    margin-bottom: 2rem;
}

.artical-detials .over-lay-detials-header {
    width: 100%;
    height: 26rem;
    background-color: #00000082;
    position: absolute;
    right: 0;
    color: white;
    left: 0;
    display: flex;
}

.over-lay-detials-header h1 {
    display: flex;
    font-size: 25px;
    justify-content: center;
    margin-top: 2rem;
    align-items: center;
    padding-right: 39px;
}

.over-lay-detials-header p i {
    font-size: 24px;
    font-weight: 300;
    padding-left: 11px;
}

.over-lay-detials-header h3 i {
    font-size: 24px;
    font-weight: 300;
    padding-left: 11px;
}

.over-lay-detials-header p:first-child {
    position: absolute;
    right: 40px;
    margin-top: 5rem;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.over-lay-detials-header p:last-of-type {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    right: 14rem;
    font-size: 18px;

    position: absolute;
}

.over-lay-detials-header span.fa.fa-star.checked {
    color: #ffc107;
    font-size: 19px !important;
}

.over-lay-detials-header .star-header {
    font-size: 19px !important;
    display: flex;
    bottom: unset !important;
    margin-top: 8rem;
    right: 14rem;
    color: #ffff;
    padding-bottom: unset !important;
    position: absolute;
    padding-right: unset !important;
}

.over-lay-detials-header h3 {
    position: absolute;
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding-right: 37px;
    color: white;
    right: 0;

}

.over-lay-detials-header .row {
    justify-content: center;
    align-items: center;
}

.over-lay-detials-header .soical-header-artical {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 0;
    margin-left: 2rem;
    top: 50%;
    transform: translate(0%, -50%);
}

.over-lay-detials-header .soical-header-artical i {
    background-color: #ffff;
    width: 40px;
    margin-bottom: 8px;
    height: 40px;
    font-size: 21px;
    border-radius: 50%;
    color: #bc264f;    display: flex;
    justify-content: center;
    align-items: center;
}

.artical-detials-body p {
    text-align: right;
    font-size: 16px;
    color: #000000;
    line-height: 2.5;
}
.artical-detials-body h1 {
    text-align: right;
    font-family: 'ArbFONTS-NotoKufiArabic-Bold';

    font-size: 22px;
    color: #BC264F!important;
}

.artical-detials-body ul {
    text-align: right;
    font-size: 17px;
}
.card-left-artical img {
    width: 100% !important;
    height: 100px !important;
    margin-top: 0.5rem !important;
    margin-bottom: 4px !important;
    display: flex;
    border-radius: 5px;
    object-fit: cover !important;
}
.card-left-artical h3 {
    font-size: 16px;
    color: #bc264f;
    font-weight: bold;
    text-align: right;
}
.artical-detials-body h1 {
    text-align: right;
    font-size: 22px;
    color: #bc264f;
    font-weight: bold;
}
.department .date-2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 6rem;
    font-size: 14px;
    padding: 2px 5px;
    align-items: center;
    margin-bottom: 9px;
    margin-left: 7px;
    border-radius: 3px;
    background-color: #bc264f;
        display: flex;
    justify-content: center;
    color: white;
}
.col-lg-4.parent {
    margin-top: 1rem;
}
.department .date-2 i {
    font-size: 14px;
    padding-left: 4px;
    font-weight: 100;
}
.card-overlay-department-a {
    width: 18rem !important;
}
.card-artical-a img {
    width: 100%;
    height: 149px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    object-fit: cover;
}
.artical-detials-body h1 {
    text-align: right;
    font-size: 22px;
    color: #bc264f;
    font-family: 'ArbFONTS-NotoKufiArabic-Bold';
}
.card-left-artical p {
    font-size: 13px !important;
    color: #A5A6AD !important;
    line-height: 1.7;
    text-align: right;
}
.card-artical-a a {
    color: #bc264f;
    font-family: 'ArbFONTS-NotoKufiArabic-Bold';
    text-align: right;
    font-size: 18px;
}
.department a {
    color: #bc264f;
    font-family: 'ArbFONTS-NotoKufiArabic-Bold';
    text-align: right;
    font-size: 15px !important;
}
.card-overlay-artical-a {
    position: absolute;
    height: 149px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    top: 0;
    width: 18rem;
    background-color: #0000002e;
}
.artical-a-col-lg h1 {
    font-size: 20px;
    border-bottom: 2px solid #bc264f;
    text-align: right;
    font-family: 'ArbFONTS-NotoKufiArabic-Bold';
    padding-bottom: 7px;
    color: #bc264f;
}
.artical-detials-body ul li {
    line-height: 2.5;
    padding-bottom: 6px;
}

.edit-team-artical img {
    width: 101px;
    height: 86px;
    object-fit: cover;
    border-radius: 5px;
}

.edit-team-artical .over-lay-img-team {
    width: auto;
    border-radius: 5px;
    background-color: #bc264f;
    position: absolute;
    color: white;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 1rem;
    margin-top: 4rem;
    height: 28px;
}

.edit-team-artical-p {
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    justify-content: center;

}

.edit-team-artical {
    border-top: 1px solid #cccc;
    padding-top: 30px;
    display: flex;
    padding-right: 18px;
}

.edit-team-artical-p p {
    color: #A5A6AD;
    text-align: right;
    font-weight: 400 !important;
    font-size: 17px;
}

.edit-team-artical-p p strong {
    font-weight: 200;

}

.membership {
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: unset !important;
}
.membership a {
    text-align: center;
    padding-top: 10px;
    text-decoration: unset;
    color: #bc264f;
    font-weight: 400;
}

.treams {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.treams h1 {
    color: #173460;
    text-align: right;
    line-height: 1.7;

    font-size: 22px;
    font-weight: bold;
    ;
}

.treams p {
    text-align: right;
    font-size: 16px;
}

.treams h3 {
    font-size: 20px;
    color: #000000;
    text-align: right;
}

.treams ul {
    list-style-type: decimal;
}

.privacy {
    padding-top: 2rem;
    padding-bottom: 2rem;

}



.privacy p {
    text-align: right;
    color: #6c6c6c;
    line-height: 2.5;
    font-size: 16px;
}

.privacy h3 {
    font-size: 20px;
    color: #000000;
    font-family: 'ArbFONTS-NotoKufiArabic-Bold';

    text-align: right;
}

.privacy ul {
    list-style-type: none;
}
.privacy ul li {
    background-color: #ffffff;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 1rem;
}
.ul-sub {
    list-style-type: decimal-leading-zero !important;
}

.ul-sub h3 {
    font-family: 'ArbFONTS-NotoKufiArabic-Bold';
    font-size: 16px !important;
    color: #173460 !important;
}

.ul-sub p {
    font-size: 14px !important;
}


.about-right h1 {
    text-align: right;
    font-size: 24px;
    padding-top: 1rem;
    color: #BC264F;
    padding-bottom: 1rem;
    font-family: 'ArbFONTS-NotoKufiArabic-Bold';

}
.about-right{
    background-color: white;
    border-radius: 15px;
    padding: 15px;
}
.about-right p {
    text-align: justify;
    line-height: 2.5;
    color: #292D33;
    font-size: 14px;
}
section.rating-D {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.rating-D h1 {
    text-align: right;
    font-size: 24px;
    font-family: 'ArbFONTS-NotoKufiArabic-Bold';

    color: #BC264F;
    line-height: 2.5;
}
.rating-D span {
    text-align: left;
    color: #B4B4B4;
    line-height: 3.5;
}

.rating-D img {
    width: 100%;
    height: 15rem;
    border-radius: 15px;
    object-fit: fill;
}
.card-rating-D.row {
    margin-top: 3rem;
}
.rating-D .col-lg-9.col-md-9{
    background-color: white;
    border-radius: 15px;
    padding-top: 17px;
    padding-inline-start: 24px;
    padding-inline-end: 25px;
}
.rating-D p {
    text-align: justify;
    line-height: 2;
    color: #292D33;
    font-size: 15px;

}
.about-as-D img {
    width: 100%;
    height: 27rem;
}
.about-as-D{
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.center {
    text-align: center;
padding-top: 2rem;
    margin-bottom: 30px;
}
.pagination {
    display: inline-block;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    background-color: white;
    margin: 0 4px;
    border-radius: 5px;
}
.pagination a.active {
    background-color: #BC264F!important;
    color: white;
    border: 1px solid #BC264F!important;
}
section.jopapp {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
section.jopapp p{
    text-align: right;
    font-size: 14px;
    margin-top: 1rem;
    line-height: 2.5;
}
section.jopapp span {
    text-align: right;
    color: #bc264f;
}
section.jopapp img {
    width: 100%;
    height: 20rem;
    border-radius: 15px;
}
section.jopapp .p-jop {
    background-color: white;
    border-radius: 15px;
    text-align: right;
}
.jopapp h1 {
    font-size: 21px;
    margin-top: 2rem;
    font-family: 'ArbFONTS-NotoKufiArabic-Bold';

    color: #bc264f;
}
.join-jop input {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    border-radius:  10px !important;
    text-align: right;
}
.join-jop span.input-group-text {
    background-color: #f5f5f5;
    display: none;
    border-color: #f5f5f5;
    border-radius: 0px 10px 10px 0px !important;
}
.join-jop .input-group-append img {
    width: 18px;
}
.join-jop .input-group.mb-3 {
    direction: ltr;
}
.join-jop label {
    text-align: left;
    display: flex;
    font-size: 14px;
    color: #000000;
}
label.custom-file-label {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    color: #ccc;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    border-radius: 10px 0px 0px 10px !important;
    padding-right: 6rem;
}
.join-jop form {
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    padding-bottom: 3rem;
}
section.join-jop {
    padding-bottom: 4rem;
}
.join-jop a.btn.btn-outline-success {
    display: flex;
    margin: 0 auto;
    width: 19rem;
    justify-content: center;
    align-items: center;
    border-color: #bc264f;
    background-color: #bc264f;
    color: white;
    border-radius: 30px;
    margin-top: 2rem;
}
.join-jop h1{
    text-align: center;
    font-size: 23px;
    
    color: #bc264f;
}
.join-jop select#exampleFormControlSelect1 {
    background-color: #F5F8F9;
    border-color: #F5F8F9;
    border-radius: 10px !important;
    text-align: right;
    padding: 5px;
}
.join-jop .menu {
    position: relative;
    margin-bottom: 1rem;
    z-index: 999999999999999999;
}
.join-jop .custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: calc(calc(2.25rem + 2px) - 1px * 2);
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #ffffff;
    content: "تحميل";
    background-color: #bc264f;
    border-radius: 0px 10px 10px 0px !important;
    border-left: 1px solid #ced4da;
    border-radius: 0 .25rem .25rem 0;
}
section.servises-full {
    padding-bottom: 2rem;
    padding-top: 2rem;
}
.servises-full p {
    line-height: 2.5;
    font-size: 15px;
}
.servises-full h1 {
    font-size: 22px;
    color: #bc264f;
    font-family: 'ArbFONTS-NotoKufiArabic-Bold';
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.servises-full img {
    width: 100%;
    height: 22rem;
    object-fit: cover;
    border-radius: 15px;

}
.servises-full .serv-p {
    text-align: right;
    background-color: white;
    border-radius: 15px;
}
.card-servs-all {
    background-color: white;
    border-radius: 10px;
    padding: 0px;
}
.card-servs-all h1 {
    text-align: right;
    font-size: 16px;
    /* padding: 2px; */
    padding-top: 1rem;
    font-family: 'ArbFONTS-NotoKufiArabic-Bold';

    margin-right: 11px;
    color: #bc264f;
}
.card-servs-all img {
    width: 100%;
    height: 13rem;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}
.card-servs-all p {
    text-align: right;
    font-size: 14px;
    line-height: 2;
    /* padding: 7px; */
    color: dimgrey;
    margin-right: 11px;
    padding-bottom: 11px;
}
.parg-sev {
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    padding-top: 0;
}
section.other-serv {
    padding-bottom: 2rem;
}
.works .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #bc264f;
    border-radius: 30px;
    width: 184px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.works .nav-pills .nav-link {
    color: #bc264f;
    border-radius: .25rem;
    width: 184px;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;

    align-items: center;

}
section.works {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
section.works ul#pills-tab {
    display: flex;
    justify-content: center;
    align-items: center;
}
.works-taps img {
    width: 19rem;
    border-radius: 5px;
       height: 14rem;
     margin-bottom: 1rem; 
}
.works-taps img:hover{

 opacity: 0.7;
}
/*
a.over-lay-woks {
    position: absolute;
    color: white;
    text-decoration: unset !important;
    background-color: #00000080;
    width: 19rem;
        display: flex;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    height: 14rem;
    z-index: 99999;
    opacity: 0;
    border-radius: 5px;
}
*/

/*
.card-works {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
*/
section.contact {
    padding-top: 2rem;
}.contact  .form-s {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
}
.dropdown-menu.show {
    z-index: 9999999999999;
}
.contact a.btn.btn-outline-success {
    display: flex;
    margin: 0 auto;
    width: 15rem;
    justify-content: center;
    align-items: center;
    border-color: #bc264f;
    background-color: #bc264f;
    color: white;
    border-radius: 30px;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.img-contact img {
    width: 100%;
    border-radius: 5px;
    height: 30.6rem;
}
.team-decoration {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.team-decoration img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    height: 13rem;
}
.team-decoration img:hover {
    filter: unset;

}
.team-decoration .col-lg-3 {
    padding-bottom: 2rem;
}
.team-decoration .over-lay-team {
    position: absolute;
    z-index: 99999;
    top: 0;
    height: 13rem;
    opacity: 0;
    background-color: #202020cf;
    right: 15px;
    left: 0;
    width: 18.3rem;
    border-radius: 10px;
}
.team-decoration .over-lay-team:hover{
 opacity: 1;
}
.team-decoration .over-lay-team h1 {
    font-size: 15px;
    color: white;
    text-align: right;
    background-color: #bc264f;
    width: 9rem;
    padding: 8px;
}

.team-decoration .over-lay-team h2 {
    text-align: center;
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    font-size: 18px;
    margin-bottom: 1rem;
    /* font-weight: bold;*/
}
.team-decoration .over-lay-team h3 {
    text-align: center;
    margin-top: 1rem;
    color: white;
    font-size: 19px;
    border-top: 1px solid #ffff;
    padding-top: 1rem;
    width: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}
.group-company {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.group-company .card-comapny.row{
    background-color: white;
    border-radius: 15px;
    margin-right: unset;
    margin-left: unset;
    margin-bottom: 2rem;
}
.group-company .card-comapny.row h1{
    margin-top: 1rem;
    text-align: right;
    font-family: 'ArbFONTS-NotoKufiArabic-Bold';

    font-size: 21px;
    color: #000000;
    line-height: 1.5;

}
.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #ffffff;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.dropdown-item:hover{
    background-color: #bc264f;
    color: #ffffff;

}
ul.social-media {
    margin-right: 35px;
    margin-left: 35px;
}
.social-media i {
    top: 10px;
    position: relative;
    margin-left: 20px;
    font-size: 23px;
    color: white;
}
.Navbar-Header .btn.btn-outline-secondary {
    color: white !important;
    border: 1px solid #FFFFFF;
    border-radius: 12px;
    margin-left: 1rem;
    font-size: 14px;
}
.navbar-brand img {
    width: auto;
    height: 32px;
}
.Navbar-Header .navbar-light .navbar-nav .nav-link {
    font-size: 14px;
    color: #FFFFFF;
}
.Navbar-Header .btn-outline-success {
    color: #bc264f;
    font-size: 14px;
    border-radius: 12px;
    background-color: #ffffff;
    border-color: #ffffff;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 13rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #ffffff;
    text-align: left;
    list-style: none;
    background-color: #00000087;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}
.group-company .card-comapny.row p{
    text-align: right;
    color: #414141;
}
.group-company .card-comapny.row a{
    width: 11rem;
    border-color: #bc264f;
    background-color: #bc264f;
    color: white;
    border-radius: 8px;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.group-company .card-comapny.row img{
    width: 100%;
    height: 10rem;
    object-fit: contain;
}
.group-company .card-comapny.row .col-lg-3{
    display: flex;
    justify-content: center;
    align-items: center;
}
header a.btn.btn-danger{
    color: #fff;
    background-color: #bc264f;
    border-color: #bc264f;
    position: fixed;
    z-index: 999999999999999;
    right: 1rem;
    bottom: 4rem;
    width: 11rem;
    border-radius: 20px;
}
.card{
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
    }
    
    .social_icon span{
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
    }
    
    .social_icon span:hover{
    color: white;
    cursor: pointer;
    }
    
    .card-header h3{
    color: white;
    }
    
    .social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
    }
    
    .input-group-prepend span{
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
    }
    
    input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
    
    }
    
    .remember{
    color: white;
    }
    
    .remember input
    {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
    }
    
    .login_btn{
    color: black;
    background-color: #FFC312;
    width: 100px;
    }
    
    .login_btn:hover{
    color: black;
    background-color: white;
    }
    
    .links{
    color: white;
    }
    
    .links a{
    margin-left: 4px;
    }
    